<html>
<h1>Data Science Tools and Ecosystem</h1>
</html>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:


1.   Python!!!
2.   R
3.   Scala
4.   MATLAB

Some of the commonly used libraries used by Data Scientists include:


1.   Pandas
2.   scikit-learn
3.   TensorFlow

| Data Science Tools. |
|---------------------|
|Jupyter|
|GitHub|
|RStudio|
|Apache Spark|

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [2]:
200/60 #This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives:**


*   Open Source DS Tools
*   Popular DS Libraries
*   Markdown and Python in Jupyter

<h2>Author</h2>
MC